<div class="container row justify-content-center">
  <div class="col-auto">
    <div class="card bg-info shadow rounded" style="width: 38rem">
      <h1 class="display-6 text-center text-dark my-2">Add new Product</h1>
      <i class="bi bi-cloud-arrow-up text-center"></i>
      <div class="card-body">
        <div class="m-2">
          <form id="formProduct">
            <div class="row g-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Product name"
                  aria-label="Product name"
                  name="name"
                  id="productName"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Description"
                  aria-label="Description"
                  name="description"
                  id="productDescription"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Product price"
                  aria-label="Last name"
                  name="price"
                  id="productPrice"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="stock"
                  aria-label="Last name"
                  name="stock"
                  id="productStock"
                />
              </div>
            </div>
            <div class="col text-center">
              <button type="submit" class="btn btn-dark mt-3">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
